<main class="main-content">
  <div class="widget">
    <div class="title"><%= @post.title %></div>
    <div class="content">
      <%= raw @post.content %>

      <hr>
      <%= link "返回", to: post_path(@conn, :index) %>
    </div>
  </div>
</main>
