<div class="panel panel-default">
  <div class="panel-heading">
    <h3><%= dgettext "coherence", "Register Account" %></h3>
  </div>
  <div class="panel-body">
    <%= render "form.html", changeset: @changeset,
                            label: dgettext("coherence", "Register"), required: [required: ""],
                            action: registration_path(@conn, :create) %>
  </div>
</div>