<header class="main-header" style="background-image: url(/images/header-bg.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <h1><%= header_h1 %></h1>
        <h2><%= header_h2 %></h2>

      </div>


    </div>
  </div>
</header>
