<header class="main-header" style="background-image: url(http://image.golaravel.com/5/c9/44e1c4e50d55159c65da6a41bc07e.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <h1>2016 中国工程热物理学会·工程热物理学术年会</h1>
        <h2>2016年10月21-23日 | 北京·华北电力大学</h2>

        <img src="http://image.golaravel.com/e/b0/4e4bd788405aab87f03d26edc4ab4.png" alt="Laravel" class="hide">
      </div>


    </div>
  </div>
</header>
