<header class="main-header" style="background-image: url(/images/header-bg.jpg)">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">

        <h1>2016 中国工程热物理学会·工程热物理学术年会</h1>
        <h2>2016年10月21-23日 | 北京·华北电力大学</h2>

      </div>


    </div>
  </div>
</header>
