<main class="main-content">
  <div class="widget">
    <div class="title">编辑评阅</div>

    <h2>Edit review</h2>

    <%= render "form.html", changeset: @changeset, statuses: @statuses,
    action: review_path(@conn, :update, @review) %>

    <%= link "Back", to: review_path(@conn, :index) %>

  </div>
</div>
</main>
