<main class="main-content">
  <div class="widget">
    <div class="title">编辑评阅</div>


    <%= render "form.html", changeset: @changeset, statuses: @statuses,
    action: review_path(@conn, :update, @review) %>

    <%= link "返回", to: review_path(@conn, :index) %>

  </div>
</div>
</main>
